body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

.inicioRoxo {
    width: 100%;
    height: 50px;
    background-color: #4D0872;
}

.logoLocaai {
    margin-left: 2%;
    height: 40px;
    margin-top: 5px;
}

.box {
    width: 80%;
    max-width: 800px;
    height: auto;
    background-color: #EEECEC;
    margin: 7% auto;
    border-radius: 45px;
    padding: 20px;
}

.estamosQuaseLa{
    margin-left: 32%;
    font-size: 2vw;
    font-weight: bold;
}

.digiteoCodigo{
    margin-left: 10%;
    margin-top: 5%;
}

.caixa{
    display: inline-block;
    width: 40%;
    padding: 10px; 
    border: 1px solid #D9D9D9; 
    background-color: #D9D9D9;
    border-radius: 20px; 
    margin-top: 8px;
    margin-left: 25%;
}

.botao {
    background-color: #4D0872;
    border: none;
    margin: 20px auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    display: flex;
    color: white;
    width: 70%;
    height: 50px;
    font-size: 5vw;
    cursor: pointer;
}

.botao:hover {
    background-color: purple;
}

.botao:disabled, .botao.desativado {
    background-color: #cccccc; 
    color: #666666; 
}

.botao.desativado:hover {
    background-color: #cccccc; 
}

@media (min-width: 768px) {
    .botao {
        width: 40%;
        height: 60px;
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    .botao {
        font-size: 25px;
        margin-left: 27%;
    }
}