body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.inicioRoxo {
    width: 100%;
    height: 60px;
    background-color: #4D0872;
}

.logoLocaai {
    margin-left: 1%;
    height: 50px;
    margin-top: 5px;
}

.box {
    width: 80%;
    max-width: 800px;
    height: auto;
    background-color: #EEECEC;
    margin: 7% auto;
    border-radius: 45px;
    padding: 20px;
}

.name{
    margin-left: 12%;
    margin-bottom: 0%;
}

.caixa {
    display: inline-block;
    width: 80%;
    padding: 20px; 
    border: 1px solid #D9D9D9; 
    background-color: #D9D9D9;
    border-radius: 20px; 
    margin-left: 10%;
}

.dropdown-container {
    position: relative;
    width: 300px;
    background-color: #ddd;
    border-radius: 50px;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    margin-left: 10%;
}

.selected-option {
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px; 
}

.selected-option::after {
    content: '⌄'; 
    font-size: 10px;
    position: absolute;
    right: 20px;
}

.dropdown-content {
    display: none; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, auto); 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    width: 700px;
}

.dropdown-container.show .dropdown-content {
    display: grid; 
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.option:hover {
    background-color: #f0f0f0;
}

.name2{
    margin-left: 12%;
    margin-bottom: 0%;
}

.sideToSide{
    display: flex;
    gap: 33%;
    margin-right: 5%;
    margin-left: 1%;
}

.sideToSide2{
    display: flex;
    gap: 5%;
    margin-right: 5%;
    margin-left: 1%;
}

.mais{
    margin-left: 10%;
}

.image-placeholder {
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: border-color 0.3s;
    width: 500px; 
    height: 500px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.image-placeholder img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}

.caixa2 {
    display: inline-block;
    width: 40%;
    padding: 20px; 
    border: 1px solid #D9D9D9; 
    background-color: #D9D9D9;
    border-radius: 20px; 
    margin-left: 10%;
}

.caixa3 {
    display: inline-block;
    width: 80%;
    padding: 20px;
    padding-bottom: 300px; 
    border: 1px solid #D9D9D9; 
    background-color: #D9D9D9;
    border-radius: 20px; 
    margin-left: 10%;
    box-sizing: border-box; 
    resize: none;
}

.aoAnunciar{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 20%;
}

.botao {
    background-color: #4D0872;
    border: none;
    margin: 20px auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    display: flex;
    color: white;
    width: 70%;
    height: 50px;
    font-size: 5vw;
    cursor: pointer;
    width: 50%;
    height: 60px;
    font-size: 25px;
}

.botao:hover {
    background-color: purple;
}

