.bigContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    position: relative;
}

.textsDiv {
    display: flex;
    flex-direction: column;
}

.placeName {
    font-size: 35px;
    font-weight: bold;
    margin-right: auto;
}

.locatorName {
    font-size: 23px;
}

.locatorProfilePicture {
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.placeAdressText {
    color: #a8a8a8;
    font-size: 17px;
}

.profilePicAndName {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imageContainer {
    width: 70%;
    height: 300px;
    margin-top: 10px;
    position: relative;
}

.placeImage {
    width: 100%;
    height: auto;
    position: absolute;
}

.shareIcon {
    width: 20px;
    margin-left: 10%;
    cursor: pointer;
}

.iconsAlign {
    position: absolute;
    top: 0;
    margin-left: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.switchBanner {
    display: inline-block;
}

.bannerIcon {
    width: 20px;
    height: 20px;
    margin-left: 100%;
    cursor: pointer;
}

.switchBanner.active {
    background-image: url('../img/bannerOn.png');
}

.purpleContainer {
    background-color: #A141D4;
    width: 32rem;
    height: 40rem;
    border-radius: 0rem 2rem 2rem 0rem;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alignContainer {
    display: flex;
}

.mainAnnouncement {
    background-image: url(../img/placeImageTest.jpeg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem 0rem 0rem 2rem;
}

.mainPrice {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    margin-right: 5px;
}

.daily {
    color: white;
    font-size: 1.2rem;
}

.darkPurpleContainer {
    background-color: #4D0872;
    margin-top: 1rem;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    display: flex;
    justify-content: center;
}

.locatorLabel {
    color: white;
    margin-right: 9px;
    font-size: 1.5rem;
}

.locatorRanking {
    color: #FFBF1C;
    font-weight: 600;
    font-size: 1.5rem;
}

.sinceLabel {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.functionalButtons {
    background-color: #4D0872;
    width: 87%;
    height: 12%;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.2rem;
}

.functionalButtons:hover {
    background-color: #390853;
    width: 87%;
    height: 12%;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.2rem;
    cursor: pointer;
}

.functionalButtonsImg {
    background-color: white;
    width: 3.8rem;
    border-radius: 0.9rem;
    margin-left: 0.6rem;
}

.functionalButtonsLabel {
    justify-content: center;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;
}

.whiteLine {
    background-color: white;
    width: 87%;
    height: 2px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.labelDetailedPricesDiv {
    display: flex;
    justify-content: space-between;
    width: 87%;
}

.labelDetailedPrices1 {
    color: white;
    text-decoration: underline;
    font-size: 1.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.labelDetailedPrices2 {
    color: white;
    font-size: 1.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.bookButton {
    background-color: #4D0872;
    width: 87%;
    height: 12%;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.2rem;
    justify-content: center;
    align-items: center;
}

.bookButton:hover {
    background-color: #390853;
    width: 87%;
    height: 12%;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bookButtonLabel {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
}

.silverDivision {
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 0.9rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    position: relative;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.purpleLocatorBox {
    background-color: #A141D4;
    border-radius: 2rem;
    width: 45rem;
    height: 9rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.purpleLocatorBoxImage {
    width: 8rem;
    height: auto;
    border-radius: 1.6rem;
    margin-left: 0.6rem;
}

.purpleLocatorBoxName {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.purpleLocatorBoxTimeLabel {
    color: white;
    font-size: 1.2rem;
}

.purpleLocatorBoxTextAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.8rem;
    height: 100%;
}

.purpleLocatorBoxRanking {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 7px;
}

.purpleLocatorBoxTextAlign2 {
    display: flex;
    flex-direction: column;
}

.ratingPurpleBoxImg {
    width: 2rem;
}

.alignRatingPurpleBoxImg1 {
    display: flex;
    align-items: center;
}

.alignRatingPurpleBoxImg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingPurpleBoxBigText {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 0.3rem;
}

.ratingPurpleBoxSmallText {
    color: white;
    font-size: 0.9rem;
}

.generalAlignRatingPurpleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-right: 1.5rem;
    height: 100%;
}

.generalBoxAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.placeInformationText {
    display: flex;
    flex-direction: column;
}

.placeInformationText1 {
    color: #4D0872;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.placeInformationText2 {
    color: #A141D4;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0.6rem;
}

.placeInformationText3 {
    color: #A8A8A8;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.filtersContainer {
    margin-top: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.filtersContainerTopText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtersContainerLabel1 {
    color: #4D0872;
    font-weight: 600;
    font-size: 2rem;
}

.filtersContainerLabel2 {
    color: #8F8F8F;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.filtersImg {
    width: 5.5vh;
    margin-right: 1.1rem;
}

.filtersLabel {
    display: flex;
    flex-direction: column;
}

.filtersAlign {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.filtersFirstLabel {
    font-weight: 600;
    font-size: 1.5rem;
    color: #4D0872;
}

.filtersSecondLabel {
    font-size: 1.1rem;
}

.filtersAlignLine {
    display: flex;
    justify-content: space-between;
}

.copyrightLabel {
    color: white;
}

.ratingAlign {
    display: flex;
    justify-content: space-between;
}

.ratingStar {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
}

.ratingLabel {
    font-weight: 600;
    font-size: 2rem;
    color: white;
}

.ratingLabel2 {
    color: white;
    display: flex;
    justify-content: center;
}

.ratingDiv {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.ratingAlign2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #A141D4;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2rem;
}