body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    width: 100%;
    height: 60px;
    background-color: #4D0872;
}

.logo {
    margin-left: 1%;
    height: 50px;
    margin-top: 5px;
}

.infos-container {
    border-radius: 30px;
    background-color: #EEECEC;
    width: 90%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    padding-left: 20rem;
    padding-right: 20rem;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.backgroundDiv {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1,
.h2 {
    text-align: center;
    margin: 0 0 20px;
}

.inputsearch-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    margin-bottom: 40px;
}

.inputsearch {
    background-color: #ffffff;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 27px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
}

.search-button {
    background-color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    transition: all 0.2s ease;
}

.search-button img {
    width: 20px;
    height: auto;
}

.search-button:active {
    transform: translateY(4px);
}

.container {
    text-align: center;
    padding: 0 10px;
}

.container p {
    cursor: pointer;
    margin-bottom: 10px;
}

.container p:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .infos-container {
        width: 95%;
        padding: 15px;
        margin-top: 50px;
    }

    .inputsearch-container {
        flex-direction: column;
        width: 100%;
    }

    .inputsearch {
        margin-bottom: 10px;
        width: 100%;
    }

    .search-button {
        margin-left: 0;
        width: 100%;
    }
}