body {
    font-family: 'Inter';
}

.chatsAndMessages {
    display: flex;
    height: calc(100vh - 160px);
}

.chatsDiv {
    width: 25%;
    background-color: rgb(245, 245, 245);
}

.messagesDiv {
    width: 75%;
    background-color: white;
}

.chatBoxDiv {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.chatBox {
    width: 80%;
    border-radius: 50rem;
    resize: none;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: 2px;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 1.0rem 1rem; 
    margin-bottom: 1rem;
    font-size: 1.0rem;
    height: 50px; 
    box-sizing: border-box;
    overflow: hidden;
}

.chatBox::placeholder {

        color: #888; 
        padding: 0 1 2rem; 
        line-height: 1.2; 
        position: relative; 
        top: 70%; 
        transform: translateY(-50%);
    }
