* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 1rem;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #f5f5f5;
}

.searchBar {
    background-color: #44116f;
    color: transparent;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.searchBar2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left: 20px;
}

.logoTop {
    width: 8%;
    margin-left: 5px;
}

.searchInput {
    height: 35px;
    padding: 5px;
    text-indent: 20px;
    border: none;
    font-size: 16px;
    outline: none;
}

.searchInput:first-of-type {
    border-radius: 25px 0 0 25px;
}

.searchInput:hover {
    background-color: #f1f1f1;
}

.searchInputWrapper {
    position: relative;
    flex-grow: 1;
}

.searchInputWithButton {
    height: 35px;
    padding: 5px;
    text-indent: 20px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 0 25px 25px 0;
}

.searchInputWithButton:hover {
    background-color: #f1f1f1;
}

.buttonSearch {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #A142D4;
    background-image: url('../img/lupa.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px; 
    padding: 5px; 
}

.buttonSearch:hover {
    background-color: #8830b8;
}

.buttonFilters {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(135%, -50%);
    background-color: #A142D4;
    background-image: url('../img/starFilters.png');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50px;
    width: 40px; 
    height: 40px; 
    padding: 5px; 
}

.buttonFilters:hover {
    background-color: #8830b8;
}

.buttonFilters.active {
    background-color: white;
    background-image: url('../img/starFiltersPurple.png');
}

.picAndLabels {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.textLocatorInfo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

.textName {
    font-weight: 600;
}

.locatorLevel {
    font-size: 11px;
}

.filtersBar {
    display: none;
    background-color: #e5e5e5;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 80px;
    z-index: 0;
}

.filtersBar.show {
    display: block;
    max-height: 80px;
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}


.header {
    background-color: #4B006D;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.logo {
    width: 100px;
}

.main-content {
    padding: 33px;
}

h1 {
    font-size: 24px;
    color: #4B006D;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ad-promotion {
    display: flex;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ad-image img {
    width: 150px;
    border-radius: 10px;
}

.ad-details {
    flex-grow: 1;
}

.ad-details h2 {
    font-size: 20px;
    color: #333;
}

.ad-details p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.dates input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn {
    background-color: #D3C1C1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

.confirm-btn {
    background-color: #4B006D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 2.5rem;
}

.cancel-btn:hover, .confirm-btn:hover {
    opacity: 0.8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ad-image {
    position: relative;
    width: 100%;
    height: 310px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.ad-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

#ad-image input[type="file"] {
    display: none;
}

#image-upload {
    margin-left: 65%; 
   
}

#prevImage, #nextImage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1; 
}

#prevImage {
    left: 10px;
}

#nextImage {
    right: 10px;
}

#prevImage:hover, #nextImage:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;  
    max-height: 300px; 
    overflow: hidden;
    position: relative;
}

.image-preview-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

button {
    background-color: #4B006D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8830b8;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
