.logo {
    width: 100px;
}

.main-content {
    padding: 33px;
}

.description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ad-promotion {
    display: flex;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ad-image img {
    width: 150px;
    border-radius: 10px;
}

.ad-details {
    flex-grow: 1;
}

.ad-details h2 {
    font-size: 20px;
    color: #333;
}

.ad-details p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.dates input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn {
    background-color: #D3C1C1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

.confirm-btn {
    background-color: #4B006D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 2.5rem;
}

.cancel-btn:hover,
.confirm-btn:hover {
    opacity: 0.8;
}

.ad-image {
    position: relative;
    width: 100%;
    height: 310px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ad-image input[type="file"] {
    display: none;
}

#image-upload {
    margin-left: 65%;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 100px;
}

.main-content {
    padding: 4px;
}

.description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ad-promotion {
    display: flex;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ad-image img {
    width: 150px;
    border-radius: 10px;
}

.ad-details {
    flex-grow: 1;
}

.ad-details h2 {
    font-size: 20px;
    color: #333;
}

.ad-details p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.dates input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn {
    background-color: #D3C1C1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

.confirm-btn {
    background-color: #4B006D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 2.5rem;
}

.cancel-btn:hover,
.confirm-btn:hover {
    opacity: 0.8;
}

.ad-image {
    position: relative;
    width: 100%;
    height: 222px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ad-image input[type="file"] {
    display: none;
}

#image-upload {
    margin-left: 65%;

}

#prevImage,
#nextImage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1;
}

#prevImage {
    left: 10px;
}

#nextImage {
    right: 10px;
}

#prevImage:hover,
#nextImage:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.image-preview-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

button {
    background-color: #4B006D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8830b8;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#prevImage,
#nextImage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1;
}

#prevImage {
    left: 10px;
}

#nextImage {
    right: 10px;
}

#prevImage:hover,
#nextImage:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.image-preview-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

button {
    background-color: #4B006D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8830b8;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}