body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

.inicioRoxo {
    width: 100%;
    height: 50px;
    background-color: #4D0872;
}

.logoLocaai {
    margin-left: 2%;
    height: 40px;
    margin-top: 5px;
}

.box {
    width: 80%;
    max-width: 800px;
    height: auto;
    background-color: #EEECEC;
    margin: 7% auto;
    border-radius: 45px;
    padding: 20px;
}

.aventura {
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 3%;
}

.alinhar, .alinhar2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    width: 100%;
    padding: 0 10%;
}

.email, .senha, .senha2 {
    font-size: 5vw;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.caixa {
    display: inline-block;
    width: 100%;
    padding: 10px; 
    border: 1px solid #D9D9D9; 
    background-color: #D9D9D9;
    border-radius: 20px; 
    margin-top: 8px;
}

.botao {
    background-color: #4D0872;
    border: none;
    margin: 20px auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    display: flex;
    color: white;
    width: 70%;
    height: 50px;
    font-size: 5vw;
    cursor: pointer;
}

.botao:hover {
    background-color: purple;
}

.alinharBonecos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.festa {
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-left: 0;
}

@media (min-width: 768px) {
    .alinhar, .alinhar2 {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .email, .senha, .senha2 {
        font-size: 25px;
        width: 50%;
    }

    .caixa {
        width: 30%;
        margin-top: 2%;
    }

    .botao {
        width: 30%;
        height: 60px;
        font-size: 25px;
    }

    .festa {
        width: auto;
        margin-top: 0;
        margin-left: 5%;
    }
}

@media (min-width: 1024px) {
    .aventura {
        font-size: 40px;
    }

    .botao {
        font-size: 25px;
    }
}
