body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    background-color: #f7f7f7;
}

h3{
    display: inline;
}

h2{
    margin-top: 0;
}

/* Responsividade */
.propriedades-container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.estrela{
    width: 4%;
    margin-right: 66%;
}

.propriedade-card {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.propriedade-imagem {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.propriedade-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.propriedade-info strong{
    font-weight: bold;
}

.propriedade-info span{
    display: inline;
    margin-left: 5px;
}

.propriedade-info p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.infosprop{
    display: block;
    width: 70%;
}

.botoes {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 10px; 
    width: 30%;
}


.botaopromover,
.botaoeditar,
.botaoexcluir {
    background-color: #4D0872;
    border-radius: 8px;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.botaopromover:hover,
.botaoeditar:hover,
.botaoexcluir:hover {
    background-color: #3a065a;
}

.cadastrar-btn {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 5%;
    border-radius: 8px;
    background-color: #4D0872;
    color: white;
    border: none;
    cursor: pointer;
}

.cadastrar-btn:hover {
    background-color: #3a065a;
}