.placeBox {
    display: flex;
    flex-direction: column;
}

#placeFont {
    font-size: 14px;
}

.placeImage {
    border-radius: 20px;
    width: 15%;
}

.placeName {
    font-weight: 600;
    margin-top: 15px;
}

.placePrice {
    font-weight: 600;
}

.placeOwner {
    margin-top: 5px;
}

.placePriceDiv {
    margin-top: 5px;
}

.ratingStar {
    width: 1.3%;
}